@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
body{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: 100vh;
    font-family: 'Hina Mincho', cursive;
    font-size: 24px;
    font-style: italic;
}
textarea{
    width: 60%;
    display: block;
    margin: 0 auto;
    height: 20vh;
}
textarea::placeholder{
    font-style: italic;
}
.header{    
    background-color:mediumseagreen;
    padding: 0.2em 0;
}
.content-box{
    margin: 1em;
}
#btn-translate{
    background-color: mediumseagreen;
    font-style: italic;
    padding: 1em;
    border-radius: 10px;
    font-size:1em;
    cursor: pointer;
}
footer{
    background-color:mediumseagreen;
    padding: 0.2em 0;
}
.footer {
    width: 60%;
    margin: 0 auto;
}